{% extends 'base.html' %}
{% block titulo %}Matricular Alumno{% endblock %}

{% block contenido %}
<div class="page-header">
    <h1>📝 Matricular Nuevo Alumno</h1>
    <p>Completa la ficha de inscripción</p>
</div>

<div class="form-container">
    <form method="post">
        {% csrf_token %}

        {% for campo in formulario %}
        <div class="form-grupo-django">
            {{ campo.label_tag }}
            {{ campo }}
            {% if campo.errors %}
                <ul class="errorlist">
                    {% for error in campo.errors %}
                        <li>⚠️ {{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% endfor %}

        <div style="margin-top:1.5rem;">
            <button type="submit" class="btn-primary">✅ Matricular Alumno</button>
            <a href="{% url 'alumnos:lista' %}" class="btn-secundario">← Volver a la lista</a>
        </div>
    </form>
</div>
{% endblock %}