{% extends 'base.html' %}
{% block titulo %}Crear Curso{% endblock %}
{% block contenido %}
<div class="page-header">
    <h1>📝 Registrar Nuevo Curso</h1>
    <p>Completa la ficha del ramo</p>
</div>
<div class="form-container">
    <form method="post">
        {% csrf_token %}
        {% for campo in formulario %}
        <div class="form-grupo-django">
            {{ campo.label_tag }}
            {{ campo }}
            {% if campo.errors %}
                <ul class="errorlist">{% for error in campo.errors %}<li>⚠️ {{ error }}</li>{% endfor %}</ul>
            {% endif %}
        </div>
        {% endfor %}
        <div style="margin-top:1.5rem;">
            <button type="submit" class="btn-primary">✅ Crear Curso</button>
            <a href="{% url 'cursos:lista' %}" class="btn-secundario">← Volver a la lista</a>
        </div>
    </form>
</div>
{% endblock %}
